
@tailwind base;
html {
    font-size: 62.5%;
    
  }
  *, *::after, ::before{
    box-sizing: border-box;
}
/* .banner{
    font-family: 'Be Vietnam', sans-serif;
    
}
.banner-2{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 3rem;
} */
@tailwind components;

@tailwind utilities;



